.container {
    display: grid;
    grid-template-columns: 50% auto;
  }

  .col{
    padding:.4em 1.3em;
  }

  .color-dark{
    background:#2885C4;
  }

  .color-light{
    background:#57D3F1;
  }

.life-container{
    background:#3FA0E1;
    padding:.2em;
    font-weight:bold;
    cursor:pointer;
  }

.submits{
    background:#ED4337;
    padding:.2em;
    font-weight:bold;
    cursor:pointer;
  }
.choiceTrue{
  color: green;
}
.choiceFalse{
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
