<div  *ngIf="start!=true; else startTest" style="text-align: center">

  <h1>Αριθμός ερωτήσεων: {{this.selectedQuestions.length}}</h1>
  <h1>Χρόνος: 10 λεπτά</h1>
  <h3>Προσοχη! Δεν πρέπει να κάνετε refresh την σελίδα κατά την διάρκεια του τεστ.</h3>
  <button pButton label="Συνέχεια" type="button" style="width: 180px" (click)="start=true"></button>
</div>

<ng-template #startTest>
  <div *ngIf="question; else showResults">
    <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>

    <h2>{{question.name}}(Choose {{question.numberOfAnswers}})</h2>

    <img class="img-responsive" style="width: 30% " src="assets/images/{{question.type}}/{{question.id}}.png" alt="" />

    <ul style="list-style-type:none">
      <li *ngFor="let choice of question.choices;index as i">
        <h3>
          {{numToLetter(i)}})
          <input #c type="checkbox" (change)="checkChoice(choice.istrue, c)" name="choice" />{{choice.answear}}
        </h3>
      </li>
    </ul>

    <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="wrongOption+correctOption === question.numberOfAnswers">
      <button pButton label="Επόμενη Ερώτηση" type="button" style="width: 180px" (click)="getNextQuestion()"></button>
    </div>

  </div>
</ng-template>


<ng-template #showResults>
  <div *ngIf="numberOfQuestions; else mustSelect">
    <p>Απάντησες σωστά σε
      <b>{{correct}}</b> από τις
      <b>{{numberOfQuestions}}</b> ερωτήσεις! </p>
    <app-details [selectedQuestions]="selectedQuestions"></app-details>
  </div>
</ng-template>


<ng-template #mustSelect>
  <br> Δεν έχεις επιλέξει ερωτήσεις!!!

</ng-template>
