<div *ngIf="question" class="container bg-l-gray shadow-lg p-3 mb-5  rounded noselect">

  <div class="row">
    <div class="col-md-12 no-padding pad-btm">
      <ngb-progressbar type="warning" [striped]="true" [animated]="true" [value]="progress">Progress
        <b>{{1 + index}} of {{numberOfQuestions}}</b>...</ngb-progressbar>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-11">
      <label class="json-format">
          <h5><b>{{1 + index}})</b> - {{question.name}} (Choose {{question.numberOfAnswers}})</h5>
      </label>

    </div>
    <div class="col-md-1 timeLeft">
      <h5>{{(timeLeft)*1000 | date:'mm:ss'}}</h5>
    </div>
  </div>

  <hr>
  <div class="row tab" *ngIf="question.images">
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab *ngFor="let image of question.images;index as i" title="Image {{1+i}}">
          <ng-template ngbTabContent>
            <img [src]="image.source" alt="Random first slide">
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>




  <div class="row form-group">

    <div class="col-md-12">

      <div *ngFor="let choice of question.choices;index as i">
        <label class="checkbox inline hover-list json-format">
          <input #check type="checkbox" class="sm-margin" (change)="checkChoice(choice.istrue, check); setUserChoice(choice, check) " name="choice" />
          {{numToLetter(i)}}) {{choice.answear}}
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary sm-margin" (click)="getNextQuestion()" [disabled]="wrongOption+correctOption === question.numberOfAnswers ? false : true ">Επόμενη Ερώτηση</button>
    </div>
  </div>


</div>
