<p-dropdown [options]="tests" [(ngModel)]="selectedTest" (onChange)="setQuestionsUrl(selectedTest.url)" placeholder="Select a Test"
  optionLabel="name"></p-dropdown>
<div *ngIf="selectedTest">
  <div class="ui-g">
    <p-pickList [source]="sourceQuestions" [target]="selectedQuestions" [metaKeySelection]="false" [showSourceControls]="false"
      [showTargetControls]="false" [responsive]="true" sourceFilterPlaceholder="Search by ID" targetFilterPlaceholder="Search by ID"
      dragdrop="true" sourceHeader="Διαθέσιμες Ερωτήσεις({{sourceQuestions.length}})" targetHeader="Επιλεγμένες Ερωτήσεις({{selectedQuestions.length}})"
      [sourceStyle]="{'height':'600px', 'width' : '100%'}" filterBy="id" [targetStyle]="{'height':'600px', 'width' : '100%'}"
      styleClass="p" (click)="addSelected()">
      <ng-template let-question pTemplate="item">
        <div class="ui-g">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">
            <b>{{question.id}})</b> - {{question.name}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
  <br>
  <button pButton label="OK" type="button" style="width: 150px" (click)="addSelected()" routerLink="/control_panel"></button>
  <button pButton label="Cancel" type="button" style="width: 150px" routerLink="/control_panel"></button>
</div>
