/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=greek-ext');



body {
  background: #ffffff !important;
  font-family: 'Roboto', sans-serif !important;
  color: #3a3a3a !important;
  margin-bottom: 50px !important;
}

input[type='checkbox']:enabled{
  cursor: pointer;
}

button:disabled {
  border: 0;
  background: rgb(156, 210, 247) !important;
}
a {
  font-size: 1em;
  color: #f1f0f0;
  text-decoration: none;
}

.tab a{

    font-size: 1.2em;
    color: rgb(28, 147, 226)!important;

    text-decoration: none;

}


h1, h2, h3, h4, h5 {
  display: inline;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(228, 228, 228);
  color: #777;
  text-align: left;
}

.test-color {
  background: #e9e9e9 !important;
}
.sm-margin {
  margin: 0.3em;

}

.table-title{
  margin-bottom: 0.1em;
}

.txt-red{
  color: red;
}

.correct-choice {
  background-color: rgba(0, 128, 0, 0.295)
}

.wrong-choice {
  background-color: rgba(255, 0, 0, 0.315)
}

.div-md {
  max-height: 38em;
  overflow: auto;
}
.margin-sm{
  margin: 1rem;
}


.vertical-middle {
  transform: translateY(10%);
}


.header {
  text-align: center;
  height: 150px;
  overflow: hidden;
  background-color: #f1f1f1;
  background-image: url("/assets/images/logo.png"), url("/assets/images/logo2.png" );
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 150px, 150px;
  padding: 10px 10px;
  background-color: rgb(28, 147, 226);
}
.bg-l-gray {

  background-color: #f1f0f0 !important;

}
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pad-btm{
  padding-bottom: 15px!important;
}

.aem-input{
  width: 8em !important;
  text-align: center !important;
  display: inline-block !important;
}

.show-pointer{
  cursor: pointer;
}
.hover {
  cursor: pointer;
}
.hover:hover{

  transform: scale(1.2); /* Standard syntax */
}

.hover-list {
   cursor: pointer;
}
.hover-list:after{
  display:block;
  content: '';
  border-bottom: solid 2px #66a8ffc0;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin:  0% 50%;
}

.hover-list:hover:after { transform: scaleX(1); }

.json-format{
  white-space:pre-wrap!important;
}


.lg-icon{
  font-size: 1.5em !important;
}
hr{
  margin-top: 3px !important;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

div::-webkit-scrollbar {
  width: 0.5em!important;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.choiceTrue {
  color: green;
}

.choiceFalse {
  color: red;
}



